<template>
  <div>
    <p>当前计数：{{ count }}</p>
    <el-button @click="increment">增加计数</el-button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: 0
    }
  },
  beforeCreate() {
    console.log('beforeCreate: 组件即将创建')
  },
  created() {
    console.log('created: 组件已创建')
  },
  beforeMount() {
    console.log('beforeMount: 组件即将挂载')
  },
  mounted() {
    console.log('mounted: 组件已挂载')
  },
  beforeUpdate() {
    console.log('beforeUpdate: 数据即将更新')
  },
  updated() {
    console.log('updated: 数据已更新')
  },
  beforeDestroy() {
    console.log('beforeDestroy: 组件即将销毁')
  },
  destroyed() {
    console.log('destroyed: 组件已销毁')
  },
  methods: {
    increment() {
      this.count++
    }
  }
}
</script>
